[Unit]
Description=Launch the Chatroom Flask server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/ec2-user/rocketchat-ec2/src/.venv/bin/gunicorn -w 1 -b 0.0.0.0:80 app:app

[Install]
WantedBy=multi-user.target
