[Unit]
Description=Chatroom Flask Application
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/399_CloudComputingFinal/src
ExecStart=/home/ec2-user/399_CloudComputingFinal/src/.venv/bin/gunicorn --bind 0.0.0.0:8000 "app:app"
Restart=always

[Install]
WantedBy=multi-user.target