[Unit]
Description=Launch the Chatroom Flask server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/rocketchat-ec2/src/.venv/bin/gunicorn --chdir /rocketchat-ec2/src -b 0.0.0.0:80 app:app

[Install]
WantedBy=multi-user.target
